<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jdbc
       http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">


    <beans profile="dev">
        <bean id="Service" class="ru.itpark.service.CarsServiceImpl">
                <constructor-arg name="carsDao" ref="carsDaoDB"/>
        </bean>

        <bean id="carsDaoDB" class="ru.itpark.dao.CarDaoJdbcImpl">
            <constructor-arg name="dataSource" ref="dataSource"/>
        </bean>

        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <constructor-arg name="username" value="postgres"/>
            <constructor-arg name="password" value="Zaq12wsx"/>
            <constructor-arg name="url" value="jdbc:postgresql://localhost:5432/auto"/>
        </bean>
    </beans>
 </beans>